<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSAGrinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KSAGrinder.Properties.Settings>
            <setting name="LastDataset" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="RememberDataset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </KSAGrinder.Properties.Settings>
    </userSettings>
</configuration>